{% extends '::app.html.twig' %}

{% block body %}
    <h1>Work Order : Inspection Activity Report </h1>
    {% include '@MirsaMirsa/ActivityInspection/datatable.html.twig' with { url: path('api_mirsa_activity_inspection_list') } %}
{#    {% include '@MirsaMirsa/InspectionActivity/total.html.twig' with { url: path('mirsa_inspection_activity_total') } %} #}
    <button class="btn clearFilter btn-info"><i class="fa fa-trash"></i> Clear Filter</button>
    <a class="exportButton" href="{{ path('mirsa_activity_inspection_export') }}"><button class="btn btn-primary"><i class="fa fa-file-pdf-o"></i> Generate Excel CSV</button></a>    
    
<script>
    $(document).ready(function () {

        $('.clearFilter').click(function() {
            $.each($('input'), function(){
                $(this).val('');
            })
            localStorage.clear();
            location.reload();
        });

        $('.exportButton').on('click', function(e) {
            e.preventDefault();
            window.location.href = $('.exportButton').attr('href') + '?id=' + $('.id input').val() + '&created=' + $('.created input').val() + '&sku=' + $('.sku input').val()+ '&type=' + $('.type option:selected').text() + '&plannedStartDate=' + $('.plannedStartDate input').val() + '&plannedEndDate=' + $('.plannedEndDate input').val() + '&scheduleRequired=' + $('.scheduleRequired input').val() +'&assemblyStatus=' + $('.assemblyStatus input').val() + '&salesOrderNumber=' + $('.salesOrderNumber input').val() + '&customerName=' + $('.customerName input').val() + '&tradingCompany=' + $('.tradingCompany input').val();
        });
    });
</script> 
{% endblock %}