{% extends '::app.html.twig' %}

{% block body %}
    <h1>Batch</h1>
    {% include '@MirsaMirsa/StockQuantity/datatable.html.twig' with { url: path('api_mirsa_stock_quantity_list') } %}
{% endblock %}
